:root {
  --btn-default: #a08bc7;
  --btn-hover: #8d71b6;
  --btn-diseable: #e6e2f2;
  --text: #fff;
  --btn-text-diseable: #7c5ea3;
}

.btn:hover {
  background-color: var(--btn-hover);
  color: var(--text);
}

.btn {
  background-color: var(--btn-default);
  color: var(--text);
}

.btn:disabled {
  background-color: var(--btn-diseable);
  color: var(--btn-text-diseable);
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem #d2cbe7;
  border: #d2cbe7;
}
