.nav-link.active {
  background-color: var(--btn-default) !important;
}

.nav-link:hover, .dropdown-item:hover {
  background-color: var(--btn-diseable);
  color: #382a4b;
}

#adogtameTitle {
  font-size: 2.5rem;
}

.dropdown-menu {
  position: absolute;
  bottom: 100%; /* Posición por encima del elemento padre */
  left: 0; /* Alineado a la izquierda */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.dropdown-menu.show {
  animation: fadeIn 0.3s ease forwards;
}
